<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div class="wrapper">
        <div id="main">
            <form action="/users" method="POST">
                <ul>
                    <li>
                        <p class="inline">Your Name:</p>
                        <input class="inline whitebox" type="text" name="name">
                    </li>
                    <li>
                        <p class="inline">Age:</p>
                        <input class="inline whitebox" type="text" name="age">
                    </li>
                </ul>
                <button type="submit" value="submit">Submit</button>
            </form>
        </div>
        <div>
            <% for (var user in users) { %>
            <h1><%= users[user].name %></h1>
            <h1><%= users[user].age %></h1>
            <% } %>
        </div>
    </div>
    
</body>
</html>