<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <h1>Quoting Dojo</h1>
    <form action="/newQuote" method="POST">
        <input type="text" name="writer">
        <textarea name="content" value="" cols="30" rows="4"></textarea>
        <button type="submit">Add my quote!</button>
    </form>
    <a href="/showAll">Go to quotes!</a>
  
    
</body>
</html>